<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.parim.devwork.repository.ProjectRepositoryRepository">
    <insert id="insert" parameterType="net.parim.devwork.entity.ProjectRepository">
        insert into dev_post 
    </insert>
    
    <update id="update" parameterType="net.parim.devwork.entity.ProjectRepository">
    
    </update>
    
    <delete id="delete" parameterType="net.parim.devwork.entity.ProjectRepository">
    
    </delete>
    
    <select id="findOne" parameterType="net.parim.devwork.entity.ProjectRepository" resultType="net.parim.devwork.entity.ProjectRepository">
    
    </select>
    
    <select id="findAll" parameterType="net.parim.devwork.entity.ProjectRepository" resultType="net.parim.devwork.entity.ProjectRepository">
    
    </select>
    
</mapper>