<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.parim.system.repository.PrivilegeRepository">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="net.parim.system.entity.Privilege">
		INSERT INTO `admin_privilege` (
			`identifier`,
			`name`,
			`targets`,
			`user_type`,
			type
		)
		VALUES
			(
				#{identifier},
				#{name},
				#{targets},
				#{userType},
				#{type}
			)
	</insert>
	
	<update id="update" parameterType="net.parim.system.entity.Privilege">
		update `admin_privilege` set
			`identifier`=#{identifier},
			`name`=#{name},
			`targets`=#{targets},
			`user_type`=#{userType},
			type=#{type}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete `admin_privilege` where id = #{id}
	</delete>
	
	<select id="findOne" parameterType="long" resultType="net.parim.system.entity.Privilege">
		select `id`,
			`identifier`,
			`name`,
			`targets`,
			`user_type`,
			type
		from `admin_privilege`
		where id = #{id}
	</select>
	
	<select id="findAll" resultType="net.parim.system.entity.Privilege">
		select `id`,
			`identifier`,
			`name`,
			`targets`,
			`user_type`,type
		from `admin_privilege`
		<where>
			1=1
			<if test="name != null and name != ''">
				and name like concat('%',#{name},'%')
			</if>
		</where>
	</select>
	
</mapper>